html {
  box-sizing: border-box;
  font-family: "Gerorgia", serif;
  line-height: 1.5rem;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  width: 100%;
}

header {
  /* Remove the <header> box and allow us to directly apply header’s children to the grid. */
  display: contents;
}

figure {
  display: grid;
  grid-template-columns: 1fr 1fr
}
